@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html{
    font-family: 'Ubuntu', 'sans-serif';
    margin: 0px;
    padding: 0px;
}

.top_section #welcome_section{
    /* background-image: url("/home/kenny/moringaprojects/delani_studio/images/h_img.jpg"); */
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("../images/h_img.jpg");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    overflow: hidden;
    resize: both;
    background-size: cover;
    margin: -8px;
    font-size: 15px;
}

.top_section #welcome_section #mouse_img{
    align-self: center;
}

#welcome_section > img{
    padding-bottom: 20px;
}

#welcome_section > p{
    margin-top: -10px;
}



.top_section #aboutus_section{
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.services_section{
    text-align: center;
    font-size: 15px;
    color: white;
    background: url('../images/s_image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.what_we_do_section {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 18px;

}

.what_we_do_section > h2{
    padding-right: 0px;
}

#product_management_details, #development_details, #design_details {
    display: none;
}

.what_we_do_items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

.design{
    flex: 1;
    align-self: center;
    padding-right: 50px;
    padding-left: 50px;
}

.development{
    flex: 1;
    align-self: center;
    padding-right: 50px;
    padding-left: 50px;
}

.product_management{
    flex: 1;
    align-self: center;
    padding-right: 50px;
    padding-left: 50px;
}

.portfolio_section {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.portfolio_images {
    display: flex;
    text-align: center;
    flex-direction: row;   
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 18px;
}

.portfolio_project_img > img{
    
    width: 80%;
    height: 80%;
    border-radius: 2.5px;
    position: relative;
}

#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
    visibility: hidden;
    text-align: center;
}


.contact_us_section{
    background: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    resize: both;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: -5px;
}

.contact_us_section > p {
    color: white;
    font-size: x-large;
}

input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
}

#MERGE1{
    width: 35vw;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
#MERGE2{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 35vw;
}
#comment{
    margin: 20px;
    width: 80vw;
    padding: 10px;
}

button{
    align-self: center;
    justify-content: center;
    width: 30vw;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer{
    text-align: center;
    padding-top: 30px;
}
footer p{
    margin-top: 10px;
}